version: "3.8"
services:
  db:
    image: postgres:15.1-alpine
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: yanatori
      POSTGRES_PASSWORD: yanatori
      POSTGRES_DB: budget-db
    restart: always
    networks:
      - backend
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    env_file: ./.env
    environment:
      DATABASE_URL: postgres://yanatori:yanatori@db:5432/budget-db?sslmode=disable
      # LINE Login の設定
      LINE_REDIRECT_URI: "http://localhost:8080/api/v1/auth/line/callback" # ここにLINE Developersで設定したコールバックURLを設定してください
    networks:
      - backend
networks:
  backend: