version: "3.8"
services:
  db:
    image: postgres:15.1-alpine
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: yanatori
      POSTGRES_PASSWORD: yanatori
      POSTGRES_DB: budget-db
    restart: always
    networks:
      - backend
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://yanatori:yanatori@db:5432/budget-db?sslmode=disable
    networks:
      - backend
networks:
  backend: